/* Global Style */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #384047;
  font-size: 50px;
}
header:hover {
  color: #05E9FF;
}
body {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  color: #384047;
}
.video {
  margin: auto;
  width: 100%;
  z-index: 10000;
}
#video {
  width: 100%;
}
#videoContainer {
  margin: 0 auto;
  background: #fff;
  max-width: 800px;
  max-height: 450px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Controls */
#video-controls {
  position: static;;
  background: transparent;
  width: 100%;
  height: 80px;
  bottom: 95px;
  left: 0;
  margin: -95px auto;
  z-index: 10000000000;
}
button#play,
button#pause,
#time-current,
#time-duration {
	position: relative;
	top: 40px;
  float: left;
}
#time-duration {
  margin-left: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#time-current {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
button#button-fullscreen,
button#volumeOn,
button#volumeOff {
  position: relative;
  top: 40px;
  float: right;
}
button#play {
  background: url(../images/icons/play-icon.png) no-repeat top left;
  height: 26px;
  width: 26px;
  border: none;
  left: 20px;
}
button#pause {
  background: url(../images/icons/pause-icon.png) no-repeat top left;
  height: 26px;
  width: 26px;
  border: none;
  display: none;
  left: 20px;
}
button#button-fullscreen {
  background: url(../images/icons/fullscreen-icon.png) no-repeat top left;
  height: 26px;
  width: 26px;
  border: none;
  right: 20px;
}
button#volumeOn {
  background: url(../images/icons/volume-on-icon.png) no-repeat top left;
  height: 26px;
  width: 26px;
  border: none;
  right: 40px;
}
button#volumeOff {
  background: url(../images/icons/volume-off-icon.png) no-repeat top left;
  height: 26px;
  width: 26px;
  border: none;
  right: 40px;
  display: none;
}
#time-current,
#time-duration {
	color: #fff;
	font-size: 18px;
  display: inline-block;
	bottom: 8px;
	left: 45px;
}
.progress {
  position: relative;
  margin: 0 2.5% 0 2.5%;
  width: 95%;
  height: 5px;
  bottom: 70px;
  background: grey;
}
#progressBar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: grey;
}
progress#progressBar[value]::-webkit-progress-value {
  background: orange;
}
progress#progressBar[value]::-moz-progress-bar{
  background: orange;
}

/* Transcript */

#text-transcript {
  margin: auto;
  width: 90%;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  text-align: center;
  padding-top: 100px;
}
.active-cue {
  color: #05E9FF;
}
