*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.transcript {
  margin: 0px auto;
  padding-top: 10px;
  text-align: center;
}
video::-webkit-media-controls {
  display: none;
}
#video {
   max-width:64rem;
   width:100%;
   max-height:30.875rem;
   height:100%;
   margin:1.25rem auto;
   padding:1.051%;
}
.controls {
   width:100%;
   height:8.0971659919028340080971659919028%;
   position:relative;
}

/*.controls[data-state=hidden] {
   display:none;
}*/

.controls[data-state=visible] {
   display:block;
}

.controls > * {
   float:left;
   width:3.90625%;
   height:100%;
   margin-left:0.1953125%;
   display:block;
}

.controls > *:first-child {
   margin-left:0;
}

.controls .progress {
   cursor:pointer;
   width:75.390625%;
}

progress {
  width:100%;
  height: 20px;
  position: relative;
  background: #FFA500;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 5px;
}
